In [30]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [29]:
sport_facilities = pd.read_excel('../datasets/# of sport facilities.xlsx')
sport_facilities = sport_facilities.rename(columns={'7.3.1  Sportaccommodaties naar soort, 1 juli 2016-2020' : 'Sportfacilities',
                                                   'Unnamed: 1' : '2016', 'Unnamed: 2' : '2017', 'Unnamed: 3' : '2018',
                                                   'Unnamed: 4' : '2019', 'Unnamed: 5' : '2020'}).reset_index()

sport_facilities = sport_facilities.dropna()
sport_facilities = sport_facilities.set_index('Sportfacilities')
sport_facilities = sport_facilities.drop(['index'], axis = 1)



sport_facilities.head(20)  
#CLEAN

,2016,2017,2018,2019,2020
Sportfacilities,,,,,
voetbalvelden gras (w.v. wetra),71 (1),70 (2),77 (2),73 (2),72 (2)
voetbalvelden kunstgras (rubber- of kurkingestrooid),68,71,71,75,76
voetbaltrainingsvelden/hoeken,7,9,9,9,9
korfbalvelden,12,13,13,13,13
hockeyvelden (w.v. kunstgras),43 (38),43 (38),46 (41),45 (41),45 (41)
handbalvelden,9,8,6,6,6
rugbyvelden (waarvan kunstgras),3 (1),3 (1),3 (1),3 (1),3 (1)
honkbalvelden,6,6,6,6,6
softbalvelden,6,8,8,8,8
cricketvelden,11,12,12,12,12
american footballvelden,2,2,1,1,1
lacrossevelden,1,1,1,1,1
frisbeevelden,2,2,2,2,2
beachcentrum (outdoor velden),5 (20),4 (18),4 (18),4 (18),4 (18)
kaatsvelden,1,1,1,1,1
atletiekbanen,6,6,6,6,6
tennisbanen,231,234,233,235,235
golfbanen,6,6,6,6,6
midgetgolfbanen,1,1,1,1,1
wielercircuits,2,2,2,2,2

In [31]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [43]:
cause_death = pd.read_excel('../Datasets/#_-cause-of-death-2015-2019.xlsx')

cause_death = cause_death.rename(columns={'Unnamed: 1' : '2015', 'Unnamed: 2' : '2016', 'Unnamed: 3' : '2017',
                                          'Unnamed: 4' : '2018', 'Unnamed: 5' : '2019'}).reset_index()
cause_death = cause_death.rename(columns={'7.2.8      Sterfte naar doodsoorzaken in Amsterdam en Nederland, 2015-2019' : 'Cause of Death'})

cause_death = cause_death.dropna()
cause_death = cause_death.set_index('Cause of Death')
cause_death = cause_death.drop(['index'], axis = 1)

cause_death.head(40)

#Delete second half of DF, they exist out of percentages we don't need.

,2015,2016,2017,2018,2019
Cause of Death,,,,,
nieuwvormingen,1605.0,1666.0,1553.0,1614.0,1579
ziekten van hart en vaatstelsel,1315.0,1294.0,1206.0,1175.0,1155
ziekten van ademhalingsstelsel,483.0,438.0,424.0,477.0,445
uitwendige doodsoorzaken,323.0,369.0,359.0,367.0,369
overige doodsoorzaken,1727.0,1750.0,1627.0,1741.0,1700
totaal,5453.0,5517.0,5169.0,5374.0,5248
nieuwvormingen,45790.0,46976.0,46556.0,46657.0,46864
ziekten van hart en vaatstelsel,39379.0,38647.0,38153.0,37795.0,37433
ziekten van ademhalingsstelsel,12681.0,11984.0,12965.0,14044.0,12607
uitwendige doodsoorzaken,7253.0,7714.0,7971.0,8631.0,8671
overige doodsoorzaken,42031.0,43676.0,44569.0,46236.0,46310
totaal,147134.0,148997.0,150214.0,153363.0,151885
nieuwvormingen,29.4,30.2,30.0,30.0,30.1
ziekten van hart en vaatstelsel,24.1,23.5,23.3,21.9,22
ziekten van ademhalingsstelsel,8.9,7.9,8.2,8.9,8.5
uitwendige doodsoorzaken,5.9,6.7,6.9,6.8,7
overige doodsoorzaken,31.7,31.7,31.5,32.4,32.4
totaal,100.0,100.0,100.0,100.0,100
nieuwvormingen,31.1,31.5,31.0,30.4,30.9
ziekten van hart en vaatstelsel,26.8,25.9,25.4,24.6,24.6
ziekten van ademhalingsstelsel,8.6,8.0,8.6,9.2,8.3
uitwendige doodsoorzaken,4.9,5.2,5.3,5.6,5.7
overige doodsoorzaken,28.6,29.3,29.7,30.1,30.5
totaal,100.0,100.0,100.0,100.0,100

In [44]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [46]:
sportpeople_char = pd.read_excel('../Datasets/_ of people sporting + characteristics.xlsx')

sportpeople_char = sportpeople_char.rename(columns={'7.3.5  Amsterdammers van 5-80 jaar die een of meer keer per week en maand 1) sporten  ' : 'Amsterdammers (5-80y/o) who sport atleast once a week or month',
                                                   'Unnamed: 1' : '2019', 'Unnamed: 2' : '2019', 'Unnamed: 3' : '2019',
                                                   'Unnamed: 4' : '2020', 'Unnamed: 5' : '2020', 'Unnamed: 6' : '2020'}).reset_index()

sportpeople_char.head(20)
#Can't drop NaN yet, since there are rows with Nan & useful information.

,index,Amsterdammers (5-80y/o) who sport atleast once a week or month,2019,2019,2019,2020,2020,2020
0,0,"naar achtergrondkenmerken, april 2...",NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,2019,NaN,NaN,2020,NaN,NaN
3,3,NaN,1 keer of vaker,NaN,gem. aantal,1 keer of vaker,NaN,gem. aantal
4,4,NaN,% per week,% per maand,keren in april,% per week,% per maand,keren in april
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,gemiddeld Amsterdam,72,78,11.3,62,68,10.8
7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,mannen,73,79,12.2,60,65,11.6
9,9,vrouwen,71,77,10.5,64,71,13.1
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,leeftijd,NaN,NaN,NaN,NaN,NaN,NaN
12,12,5-12 jaar,79,88,12,49,58,8.5
13,13,13-18 jaar,77,83,12.9,55,62,8.6
14,14,19-30 jaar,80,86,12.5,74,82,15.9
15,15,31-44 jaar,74,81,11.3,71,76,12.9
16,16,45-64 jaar,65,70,10.2,57,61,11.8
17,17,65-80 jaar,63,66,9.8,52,53,10.8
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,opleiding,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [55]:
sportpeople = pd.read_excel('../Datasets/_ of people sporting.xlsx')

sportpeople = sportpeople.rename(columns={'7.3.4  Amsterdammers van 5-80 jaar die een of meer keer per week en maand 1) sporten  ' : '% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport',
                                                   'Unnamed: 1' : '2017 November', 'Unnamed: 2' : '2018 April', 'Unnamed: 3' : '2018 November',
                                                   'Unnamed: 4' : '2019 April', 'Unnamed: 5' : '2020 April'}).reset_index()

sportpeople = sportpeople.dropna()
sportpeople = sportpeople.set_index('% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport')
sportpeople = sportpeople.drop(['index'], axis = 1)

sportpeople.head(25)

,2017 November,2018 April,2018 November,2019 April,2020 April
% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport,,,,,
een of meer keer per week,66,68,70,72,62
een of meer keer per maand,74,76,76,78,68
fitness individueel,26,26,28,29,26
hardlopen/joggen,13,15,15,17,24
wandelsport,12,14,12,13,21
zwemsport,11,12,11,11,-
fitness in een groep,9,9,10,11,-
yoga,9,9,9,9,10
wielrennen,4,8,5,8,14
voetbal,5,7,8,8,3
danssport,5,5,6,5,2

In [56]:
os.getcwd()
#As a last step merge all dataframes together.

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'