In [30]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [58]:
sport_facilities = pd.read_excel('../datasets/# of sport facilities.xlsx')
sport_facilities = sport_facilities.rename(columns={'7.3.1  Sportaccommodaties naar soort, 1 juli 2016-2020' : 'Sportfacilities',
                                                   'Unnamed: 1' : '2016', 'Unnamed: 2' : '2017', 'Unnamed: 3' : '2018',
                                                   'Unnamed: 4' : '2019', 'Unnamed: 5' : '2020'}).reset_index()

sport_facilities = sport_facilities.dropna()
sport_facilities = sport_facilities.set_index('Sportfacilities')
sport_facilities = sport_facilities.drop(['index'], axis = 1)

sport_facilities = sport_facilities.rename(index={
'test' : 'Football Fields (grass)',
'voetbalvelden kunstgras (rubber- of kurkingestrooid)' : 'Football Fields (synthetic)',
'voetbaltrainingsvelden/hoeken' : 'Football training fields',
'korfbalvelden' : 'Basketball Fields',
'hockeyvelden (w.v. kunstgras)' : 'Hockey Fields (synthetic)',
'handbalvelden' : 'Hand Ball Fields',
'rugbyvelden (waarvan kunstgras)' : 'Rugby Fields (grass + synthetic)',
'honkbalvelden' : 'Baseball Fields',
'softbalvelden' : 'Soft Ball Fields',
'cricketvelden' : 'Cricket Fields',
'american footballvelden' : 'American Football Fields',
'lacrossevelden' : 'Lacrosse Fields',
'Frisebeevelden' : 'Frisbee Fields',
'beachcentrum (outdoor velden)' : 'Beach Center (Outdoor Fields)',
'kaatsvelden' : 'Pelota Fields',
'atletiekbanen' : 'Athletic circuits',
'tennisbanen' : 'Tennis Fields',
'golfbanen' : 'Golf Ranges',
'midgetgolfbanen' : 'Mini-Golf Ranges',
'wielercircuits' : 'Cycling Circuits'})



sport_facilities.head(20)  
#CLEAN

                                     2016     2017     2018     2019     2020
Sportfacilities
voetbalvelden gras (w.v. wetra)    71 (1)   70 (2)   77 (2)   73 (2)   72 (2)
Football Fields (synthetic)            68       71       71       75       76
Football training fields                7        9        9        9        9
Basketball Fields                      12       13       13       13       13
Hockey Fields (synthetic)         43 (38)  43 (38)  46 (41)  45 (41)  45 (41)
handbalvelden                           9        8        6        6        6
Rugby Fields (grass + synthetic)    3 (1)    3 (1)    3 (1)    3 (1)    3 (1)
Baseball Fields                         6        6        6        6        6
Soft Ball Fields                        6        8        8        8        8
Cricket Fields                         11       12       12       12       12
American Football Fields                2        2        1        1        1
Lacrosse Fields                         1        1        1        1        1
frisbeevelden                           2        2        2        2        2
Beach Center (Outdoor Fields)      5 (20)   4 (18)   4 (18)   4 (18)   4 (18)
Pelota Fields                           1        1        1        1        1
Athletic circuits                       6        6        6        6        6
Tennis Fields                         231      234      233      235      235
Golf Ranges                             6        6        6        6        6
Mini-Golf Ranges                        1        1        1        1        1
Cycling Circuits                        2        2        2        2        2

In [31]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [83]:
cause_death = pd.read_excel('../Datasets/#_-cause-of-death-2015-2019.xlsx')

cause_death = cause_death.rename(columns={'Unnamed: 1' : '2015', 'Unnamed: 2' : '2016', 'Unnamed: 3' : '2017',
                                          'Unnamed: 4' : '2018', 'Unnamed: 5' : '2019'}).reset_index()
cause_death = cause_death.rename(columns={'7.2.8      Sterfte naar doodsoorzaken in Amsterdam en Nederland, 2015-2019' : 'Cause of Death'})

cause_death = cause_death.dropna()
cause_death = cause_death.set_index('Cause of Death')
cause_death = cause_death.drop(['index'], axis = 1)

cause_death = cause_death.reset_index()
cause_death2 = cause_death.loc[(cause_death['Cause of Death']=='ziekten van hart en vaatstelsel') |
                              (cause_death['Cause of Death']=='totaal')]

cause_death2 = cause_death2.set_index('Cause of Death')
cause_death2 = cause_death2.rename(index={
    'ziekten van hart en vaatstelsel' : 'Heart- & artery disease',
    'totaal' : 'total'
})
cause_death2

#First Heart & Artery Disease is for Amsterdam against the total of diseases in Amsterdam, then for the Netherlands and
#then given in percentages.

                             2015      2016      2017      2018    2019
Cause of Death
Heart- & artery disease    1315.0    1294.0    1206.0    1175.0    1155
total                      5453.0    5517.0    5169.0    5374.0    5248
Heart- & artery disease   39379.0   38647.0   38153.0   37795.0   37433
total                    147134.0  148997.0  150214.0  153363.0  151885
Heart- & artery disease      24.1      23.5      23.3      21.9      22
total                       100.0     100.0     100.0     100.0     100
Heart- & artery disease      26.8      25.9      25.4      24.6    24.6
total                       100.0     100.0     100.0     100.0     100

In [89]:
# Export comma-separated variable file
cause_death2.to_csv('../../ProjectAmsterdam/cause_death_export.csv', index=True)

In [47]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [86]:
sportpeople = pd.read_excel('../Datasets/_ of people sporting.xlsx')

sportpeople = sportpeople.rename(columns={'7.3.4  Amsterdammers van 5-80 jaar die een of meer keer per week en maand 1) sporten  ' : '% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport',
                                                   'Unnamed: 1' : '2017 November', 'Unnamed: 2' : '2018 April', 'Unnamed: 3' : '2018 November',
                                                   'Unnamed: 4' : '2019 April', 'Unnamed: 5' : '2020 April'}).reset_index()

sportpeople = sportpeople.dropna()
sportpeople = sportpeople.set_index('% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport')
sportpeople = sportpeople.drop(['index'], axis = 1)

sportpeople.head(25)

sportpeople = sportpeople.rename(index={
    'een of meer keer per week' : 'One or more times a week',
    'een of meer keer per maand' : 'One or more times a month',
    'fitness individueel' : 'Fitness (individually)',
    'hardlopen/joggen' : 'Sprinting/Jogging',
    'wandelsport' : 'Hiking',
    'zwemsport' : 'Swimming',
    'fitness in een groep' : 'Fitness in group',
    'yoga' : 'Yoga',
    'wielrennen' : 'Cycling',
    'voetbal' : 'Football',
    'danssport' : 'Dancing'
})
sportpeople

,2017 November,2018 April,2018 November,2019 April,2020 April
% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport,,,,,
One or more times a week,66,68,70,72,62
One or more times a month,74,76,76,78,68
Fitness (individually),26,26,28,29,26
Sprinting/Jogging,13,15,15,17,24
Hiking,12,14,12,13,21
Swimming,11,12,11,11,-
Fitness in group,9,9,10,11,-
Yoga,9,9,9,9,10
Cycling,4,8,5,8,14
Football,5,7,8,8,3
Dancing,5,5,6,5,2

In [87]:
# Export comma-separated variable file
sportpeople.to_csv('../../ProjectAmsterdam/data_export.csv', index=True)